<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>MVC Assignment</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	
    <div class="container text-center">

        <div style="width:800px; margin:200px auto;">
        <h3><a th:href="@{/homepage}">home</a></h3>
        <h3><a th:href="@{/register}">Sign up</a></h3>
        <h3><a th:href="@{/login}">Sign in</a></h3>
        </div>
    </div>
     
</body>
</html>